.row,
.col {
  height: 100%;
}

nb-card {
  height: calc(100% - 15px);
}

.add-button-container {
  position: fixed;
  right: 15px;
  bottom: 100px;
} //FIXME: Position

.streak-card {
  margin: 24px;
  border: 1px solid darkgray;
  border-radius: 5px;
  height: 200px;
  font-size: 32px;
  font-weight: 500;
  vertical-align: middle;
  line-height: 200px;
}

.streak-card:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
