<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        {{ 'indexCards.header' | translate }}
        <button nbButton outline color="primary" (click)="openAddDialog()">
          <nb-icon icon="plus-outline"></nb-icon>
          {{ 'indexCards.addButton' | translate }}
        </button>
      </nb-card-header>
      <nb-card-body>
        <nb-card
          [nbSpinner]="loadingCards"
          class="mb-0"
          nbSpinnerStatus="primary"
        >
          <nb-tabset fullWidth>
            <nb-tab
              [tabTitle]="'indexCards.all' | translate"
              [badgeText]="cardStreaks[0].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[0]"
                [courseOwner]="courseOwner"
                [streak]="0"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
            <nb-tab
              tabTitle="20min"
              [badgeText]="cardStreaks[1].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[1]"
                [courseOwner]="courseOwner"
                [streak]="1"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
            <nb-tab
              tabTitle="24h"
              [badgeText]="cardStreaks[2].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[2]"
                [courseOwner]="courseOwner"
                [streak]="2"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
            <nb-tab
              tabTitle="48h"
              [badgeText]="cardStreaks[3].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[3]"
                [courseOwner]="courseOwner"
                [streak]="3"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
            <nb-tab
              tabTitle="10d"
              [badgeText]="cardStreaks[4].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[4]"
                [courseOwner]="courseOwner"
                [streak]="4"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
            <nb-tab
              tabTitle="30d"
              [badgeText]="cardStreaks[5].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[5]"
                [courseOwner]="courseOwner"
                [streak]="5"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
            <nb-tab
              tabTitle="60d"
              [badgeText]="cardStreaks[6].length"
              badgeStatus="primary"
            >
              <ngx-repeat
                [courseId]="courseId"
                [cards]="cardStreaks[6]"
                [courseOwner]="courseOwner"
                [streak]="6"
                (reload)="reload()"
              ></ngx-repeat>
            </nb-tab>
          </nb-tabset>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
</div>
