<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col my-auto">
        <h3>{{ 'exams.delete.header' | translate }}</h3>
      </div>
      <div class="col-end">
        <button nbButton (click)="close()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
    </div>
    <div></div>
    <div></div>
  </nb-card-header>
  <nb-card-body style="text-align: center">
    {{ 'exams.delete.text' | translate }}
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col"></div>
      <div class="col-end">
        <button nbButton status="primary" (click)="submit()">
          {{ 'exams.delete.submit' | translate }}
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
