<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        <h1>Todos</h1>
      </nb-card-header>
      <nb-card-body [nbSpinner]="loading">
        <nb-list
          nbInfiniteList
          [threshold]="500"
          (bottomThreshold)="loadNext()"
        >
          <nb-list-item *ngFor="let item of items">
            <div class="row">
              <div class="col-start mr-2">
                <nb-checkbox
                  (checkedChange)="toggleCompleted($event, item)"
                  [checked]="item.completed"
                ></nb-checkbox>
              </div>
            </div>
            <div class="col pointer" (click)="openAddDialog(item)">
              <span *ngIf="!item.completed">{{ item.title }}</span>
              <del *ngIf="item.completed">{{ item.title }}</del>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="add-button-container">
  <button mat-fab color="primary" (click)="openAddDialog()">
    <nb-icon icon="plus-outline"></nb-icon>
  </button>
</div>
