<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header> {{ 'todos.header' | translate }} </nb-card-header>
      <nb-card-body>
        <div echarts [options]="echartOptions" class="overview--chart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        {{ 'todos.all' | translate }}
        <button nbButton (click)="openAddDialog()" outline color="primary">
          <nb-icon icon="plus-outline"></nb-icon>
          {{ 'todos.add.header' | translate }}
        </button>
      </nb-card-header>
      <nb-list [nbSpinner]="loading">
        <nb-list-item *ngFor="let item of items">
          <div class="row">
            <div class="col-start mr-2 todo-checkbox">
              <nb-checkbox
                (checkedChange)="toggleCompleted($event, item)"
                [checked]="item.completed"
              ></nb-checkbox>
            </div>
          </div>
          <div class="col pointer" (click)="openAddDialog(item)">
            <span *ngIf="!item.completed">{{ item.title }}</span>
            <del *ngIf="item.completed">{{ item.title }}</del>
          </div>
          <div *ngIf="item.endDate" class="mr-2">
            <ng-container *ngIf="getDeadlineDiffernce(item) > 0">
              {{ getDeadlineDiffernce(item) }} {{ 'todos.days' | translate }}
            </ng-container>
            <ng-container *ngIf="getDeadlineDiffernce(item) <= 0">
              {{ 'todos.overdue' | translate }}
            </ng-container>
          </div>
          <div>
            <nb-icon
            icon="trash-outline"
            [options]="{ animation: { type: 'pulse' } }"
            class="pointer"
            (click)="del(item)"
          ></nb-icon>
          </div>
        </nb-list-item>
        <nb-list-item *ngIf="!items.length">
          {{ 'todos.notFound' | translate }}
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
