<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-body [nbSpinner]="loading">
        <nb-list
          nbInfiniteList
          [threshold]="500"
          (bottomThreshold)="loadNext()"
        >
          <nb-list-item
            *ngFor="let item of items"
            class="pointer w-100"
            (click)="openAddDialog(item)"
          >
            <div>
              {{ item.title }}
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="add-button-container">
  <button mat-fab color="primary" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
