<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col my-auto">
        <h3>{{ 'indexCards.edit.header' | translate }}</h3>
      </div>
      <div class="col-end">
        <button nbButton (click)="close()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
    </div>
    <div></div>
    <div></div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="formGroup">
      <mat-form-field class="w-100">
        <mat-label>{{
          'indexCards.edit.question.label' | translate
        }}</mat-label>
        <textarea
          matInput
          [placeholder]="'indexCards.edit.question.placeholder' | translate"
          formControlName="question"
          name="question"
          class="textarea"
          required
        ></textarea>
        <mat-error *ngIf="formGroup.get('question').hasError('required')">
          {{ 'indexCards.edit.question.errors.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>{{ 'indexCards.edit.answer.label' | translate }}</mat-label>
        <textarea
          matInput
          [placeholder]="'indexCards.edit.answer.placeholder' | translate"
          formControlName="answer"
          name="answer"
          class="textarea"
          required
        ></textarea>
        <mat-error *ngIf="formGroup.get('answer').hasError('required')">
          {{ 'indexCards.edit.question.errors.required' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col"></div>
      <div class="col-end">
        <button
          nbButton
          status="primary"
          (click)="submit()"
          [disabled]="!formGroup.valid"
        >
          {{ 'indexCards.edit.submit' | translate }}
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
