<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col my-auto">
        <h3>{{'indexCards.edit.header'|translate}}</h3>
      </div>
      <div class="col-end">
        <button nbButton (click)="close()">
          <nb-icon icon="close-outline"></nb-icon
          >
        </button>
      </div>
    </div>
    <div></div>
    <div></div>
  </nb-card-header>
  <nb-card-body>
    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.title.label'|translate}}</mat-label>
      <input
        matInput
        [placeholder]="'exams.add.title.placeholder'|translate"
        [(ngModel)]="exam.title"
        name="title"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.description.label'|translate}}</mat-label>
      <textarea
        matInput
        [placeholder]="'exams.add.description.placeholder'|translate"
        [(ngModel)]="exam.description"
        name="description"
        class="textarea"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.date.label'|translate}}</mat-label>
      <input
        matInput
        [placeholder]="'exams.add.date.placeholder'|translate"
        [(ngModel)]="exam.date"
        name="date"
        required
        [nbDatepicker]="datepicker"
      />
      <nb-datepicker #datepicker></nb-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.time.label'|translate}}</mat-label>
      <input
        matInput
        [placeholder]="'exams.add.time.placeholder'|translate"
        [(ngModel)]="exam.time"
        name="time"
        required
        [nbTimepicker]="timepicker"
      />
      <nb-timepicker #timepicker></nb-timepicker>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.duration.label'|translate}}</mat-label>
      <input
        matInput
        [placeholder]="'exams.add.duration.placeholder'|translate"
        [(ngModel)]="exam.duration"
        name="duration"
        required
        type="number"
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.room.label'|translate}}</mat-label>
      <input
        matInput
        [placeholder]="'exams.add.room.placeholder'|translate"
        [(ngModel)]="exam.room"
        name="room"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.tools.label'|translate}}</mat-label>
      <textarea
        matInput
        [placeholder]="'exams.add.tools.placeholder'|translate"
        [(ngModel)]="exam.tools"
        name="tools"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{'exams.add.additionalInformations.label'|translate}}</mat-label>
      <textarea
        matInput
        [placeholder]="'exams.add.additionalInformations.placeholder'|translate"
        [(ngModel)]="exam.additionalInformations"
        name="additionalInformations"
      ></textarea>
    </mat-form-field>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col"></div>
      <div class="col-end">
        <button nbButton status="primary" (click)="submit()">{{'indexCards.edit.submit'|translate}}</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
