<nb-card>
  <nb-card-header> {{'files.header'|translate}} </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let item of files"><!--TODO: Das geht bestimmt besser mit einem ngFor-->
      <div class="w-100 row">
        <div class="col">
          {{ item.filename }}
        </div>
        <div class="col-end" *ngIf="isLecturer">
          <nb-icon
            icon="cloud-download-outline"
            style="margin-right: 16px"
            [options]="{ animation: { type: 'pulse' } }"
            class="pointer"
            (click)="download(item)"
          ></nb-icon>
          <nb-icon
            icon="trash-outline"
            [options]="{ animation: { type: 'pulse' } }"
            class="pointer"
            (click)="del(item)"
          ></nb-icon>
        </div>
      </div>
    </nb-list-item>
    <nb-list-item *ngFor="let item of fileUploadQueue">
      <div class="w-100" style="flex-direction: column">
        {{ item.filename }}
        <nb-progress-bar
          class="w-100"
          [value]="(item.uploadProgress | async) || 0"
          [status]="getStatus((item.uploadProgress | async) || 0)"
          size="tiny"
        ></nb-progress-bar>
      </div>
    </nb-list-item>
    <nb-list-item *ngIf="isLecturer">
      <ngx-file-drop
        class="w-100"
        [dropZoneLabel]="'files.dropLabel'|translate"
        [showBrowseBtn]="true"
        (onFileDrop)="dropped($event)"
        dropZoneClassName="drop-zone"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
          ><!--TODO: Das muss noch richtige Farben gemacht werden-->
          <div class="text-basic" style="text-align: center;">
            <div>
              {{'files.browseText'|translate}}
              <a
                (click)="openFileSelector()"
                class="pointer"
                style="color: #007bff"
                >{{'files.browseButton'|translate}}</a
              >
            </div>
          </div>
        </ng-template>
      </ngx-file-drop>
    </nb-list-item>
  </nb-list>
</nb-card>