<div class="row" style="height: 100%">
  <div class="col-xs-12 col-md-6">
    <nb-card style="height: calc(100% - 16px)">
      <nb-card-header> Join a Course </nb-card-header>
      <nb-card-body>
        <form>
          <mat-form-field class="w-100">
            <mat-label>Key</mat-label>
            <input
              matInput
              placeholder="The Course-Key..."
              required
              name="key"
              maxlength="6"
              [(ngModel)]="key"
            />
          </mat-form-field>
          <button nbButton (click)="joinCourse()">Join</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xs-12 col-md-6">
    <nb-card style="height: calc(100% - 16px)">
      <nb-card-header> Create a Course </nb-card-header>
      <nb-card-body>
        <form>
          <mat-form-field class="w-100">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="A short name..."
              required
              name="name"
              [(ngModel)]="name"
            />
          </mat-form-field>
          <button nbButton (click)="createCourse()">Create</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!--TODO: Brauchen wir eine Kurs administration, in der man den Course löschen/umbenenen kann, oder den key nochmal anzeitgt, ...-->
