<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        {{ 'feedback.lecturerView.participants.label' | translate }}
      </div>
      <div>
        <button nbButton size="tiny" (click)="exportParticipants()">
          <nb-icon icon="download-outline"></nb-icon> Export
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col">
        <div echarts [options]="typeChart"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div echarts [options]="questionareChart"></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        {{ 'feedback.lecturerView.feedback.label' | translate }}
      </div>
      <div>
        <button nbButton size="tiny" (click)="exportCourseFeedback()">
          <nb-icon icon="download-outline"></nb-icon> Export
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div echarts [options]="feedbackChart"></div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="comments">
  <nb-card-header>
    <div class="row">
      <div class="col">
        {{ 'feedback.lecturerView.comments.label' | translate }}
      </div>
      <div>
        <button nbButton size="tiny" (click)="exportComments()">
          <nb-icon icon="download-outline"></nb-icon> Export
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let comment of comments">
      {{ comment }}
    </nb-list-item>
  </nb-list>
</nb-card>
<!--TODO: wenn hier die ui verschönert wird, muss eventuell noch ein "Kein Feedback vorhanden" oder so eingefügt werden-->
