<nb-card>
    <nb-card-header>
        Feedback
    </nb-card-header>
    <nb-card-body>
        Wie ist die Informationsversorgung?

        Wurden Sachverhalte verständlich dargestellt?


        Wie war das Niveau?

        Wie hat ihnen die Vorlesung gefallen?

        Wurde neue Inhalte vermittelt?

        <!-- star-outline star-->
    </nb-card-body>
</nb-card>

<!-- TODO: Wenn wir die Funktionalitäten haben, können wir noch analysen dran packen. z.B. Lernzeit pro Karteikarte und so sachen -->
