<h1 id="title" class="title">{{ 'resetPassword.title' | translate }}</h1>
<p class="sub-title">{{ 'resetPassword.subtitle' | translate }}</p>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert"
>
  <p class="alert-title">
    <b>{{ 'resetPassword.error' | translate }}</b>
  </p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm">
  <div class="form-control-group">
    <label class="label" for="input-password"
      >{{ 'resetPassword.password.label' | translate }}:</label
    >
    <input
      nbInput
      [(ngModel)]="user.password"
      #password="ngModel"
      type="password"
      id="input-password"
      name="password"
      class="first"
      [placeholder]="'resetPassword.password.placeholder' | translate"
      autofocus
      fullWidth
      fieldSize="large"
      [status]="
        password.dirty ? (password.invalid ? 'danger' : 'success') : 'basic'
      "
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.required">
        {{ 'resetPassword.password.errors.required' | translate }}
      </p>
      <p
        class="caption status-danger"
        *ngIf="password.errors?.minlength || password.errors?.maxlength"
      >
        {{ 'resetPassword.password.errors.minlength' | translate }}
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password"
      >{{ 'resetPassword.confirmPassword.label' | translate }}:</label
    >
    <input
      nbInput
      [(ngModel)]="user.confirmPassword"
      #rePass="ngModel"
      id="input-re-password"
      name="rePass"
      type="password"
      class="last"
      [placeholder]="'resetPassword.confirmPassword.placeholder' | translate"
      fullWidth
      fieldSize="large"
      [status]="
        rePass.touched
          ? rePass.invalid || password.value != rePass.value
            ? 'danger'
            : 'success'
          : 'basic'
      "
      [required]="getConfigValue('forms.validation.password.required')"
    />
    <ng-container *ngIf="rePass.touched">
      <p
        class="caption status-danger"
        *ngIf="rePass.invalid && rePass.errors?.required"
      >
        {{ 'resetPassword.confirmPassword.errors.required' | translate }}
      </p>
      <p
        class="caption status-danger"
        *ngIf="password.value != rePass.value && !rePass.errors?.required"
      >
        {{ 'resetPassword.confirmPassword.errors.minlength' | translate }}
      </p>
    </ng-container>
  </div>

  <button
    nbButton
    status="primary"
    fullWidth
    size="large"
    [disabled]="submitted || !resetPassForm.valid"
    [class.btn-pulse]="submitted"
  >
    {{ 'resetPassword.submit' | translate }}
  </button>
</form>

<section class="sign-in-or-up">
  <p><a class="text-link" routerLink="../login">{{'resetPassword.backToLogin'|translate}}</a></p>
  <p><a class="text-link" routerLink="../register">{{'resetPassword.register'|translate}}</a></p>
</section>
