<div class="tinder">
  <div
    class="tinder--cards"
    (pan)="handlePan($event)"
    (panend)="handlePanEnd($event)"
    [hidden]="!_cards.length"
  >
    <nb-flip-card
      #tinderCard
      class="tinder--card"
      (transitionend)="handleShift()"
      *ngFor="let card of _cards; let i = index"
      [ngStyle]="{
        zIndex: _cards.length - i,
        transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)'
      }"
      ><!--TODO: ist flipcard besser?--><!--TODO: Fade out border?-->
      <nb-card-front>
        <nb-card>
          <nb-card-header style="display: flex; align-items: center; justify-content: center;">
            <h5>{{'indexCards.question'|translate}}</h5>
            <button style="margin-left: 15px;" nbButton outline size="small" color="primary" (click)="editCard(card)">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            <button style="margin-left: 5px;" nbButton outline size="small" color="primary" (click)="deleteCard(card)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </nb-card-header>
          <nb-card-body>
            {{ card.question }}
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-header style="display: flex; align-items: center; justify-content: center;">
            <h5>{{'indexCards.answer'|translate}}</h5>
            <button style="margin-left: 15px;" nbButton outline size="small" color="primary" (click)="editCard(card)">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            <button style="margin-left: 5px;" nbButton outline size="small" color="primary" (click)="deleteCard(card)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </nb-card-header>
          <nb-card-body>
            {{ card.answer }}
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
  <nb-actions style="margin-bottom: 45px;" size="giant" fullWidth  [@fadeAnimation]="fadeState">
    <nb-action
      icon="close-outline"
      (click)="userClickedButton($event, false)"
      badgeStatus="danger"
      [badgeText]="crossCount"
      badgeSize="40px"
    ></nb-action>
    <nb-action
      icon="checkmark-outline"
      (click)="userClickedButton($event, true)"
      badgeStatus="success"
      [badgeText]="heartCount"
      badgeSize="large"
    ></nb-action>
  </nb-actions>
</div><!--TODO: Pointer-->
