<div class="tinder">
  <div
    class="tinder--cards"
    (pan)="handlePan($event)"
    (panend)="handlePanEnd($event)"
    [hidden]="!cards.length"
  >
    <nb-reveal-card
      #tinderCard
      class="tinder--card"
      (transitionend)="handleShift()"
      *ngFor="let card of cards; let i = index"
      [ngStyle]="{
        zIndex: cards.length - i,
        transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)'
      }"
      ><!--TODO: ist flipcard besser?--><!--TODO: Fade out border?-->
      <nb-card-front>
        <nb-card>
          <nb-card-header>
            <h1>Question</h1>
          </nb-card-header>
          <nb-card-body>
            <h3>{{ card.question }}</h3>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-header>
            <h1>Answer</h1>
          </nb-card-header>
          <nb-card-body>
            <h3>{{ card.answer }}</h3>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>
  </div>
  <nb-actions size="giant" fullWidth  [@fadeAnimation]="fadeState"><!--TODO: Die Karten in den footer?-->
    <nb-action
      icon="close-outline"
      (click)="userClickedButton($event, false)"
      badgeStatus="warning"
      [badgeText]="crossCount"
      badgeSize="giant"
    ></nb-action>
    <nb-action
      icon="checkmark-outline"
      (click)="userClickedButton($event, true)"
      badgeStatus="success"
      [badgeText]="heartCount"
      badgeSize="giant"
    ></nb-action>
  </nb-actions>
</div><!--TODO: Pointer-->
