:host {
  height: 100%;
}

.tinder {
  width: 100%;
  height: calc(100% - 100px);
  overflow: hidden;
  position: absolute;
}

.tinder--cards {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.tinder--card {
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  margin: 0 40px;
  max-width: 500px;
  &.moving {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
}

nb-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}
