<div class="row background">
  <img src="../../assets/undraw/undraw_online_test_gba7.svg" style="height: 250px;position: absolute;bottom: -10px;left:-230px;">
  <img src="../../assets/undraw/undraw_reading_time_gvg0.svg" style="height: 250px;position: absolute;bottom: 0px;right: -50px;transform: scale(-1, 1);">
</div>
<!--TODO Nebular chat wäre auch cool-->

<nb-layout windowMode style="z-index: 1;">
  <nb-layout-column class="course-container">
    <nb-card>

    </nb-card>
    <!-- <div class="row">
      <div class="col-xs-12 col-lg-6 col-xl-4">
        <nb-card>
          <nb-card-body>
            <div class="row">
              <div class="col" style="text-align: center">
                <nb-icon icon="plus-outline"></nb-icon>
                <p>Add Course</p>
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let course of courses">
        <nb-card>
          <nb-card-body>
            <h2>{{ course.name }}</h2>
            {{ course.description }}
          </nb-card-body>
        </nb-card>
      </div>
    </div> -->
  </nb-layout-column>

  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
