.tinder {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

.tinder--cards {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.tinder--card {
  background: #ffffff;//TODO:
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  &.moving {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
}

.tinder--card {
  padding: 16px;
}

.tinder--buttons {
  position: absolute;
  flex: 0 0 100px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
  button {//TODO: Die Button größer werden lassen, wenn gewusst/nicht gewusst
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 0;
    background: #ffffff;
    display: inline-block;
    padding-top: 10px;
    margin: 0 12px;
    &:focus {
      outline: 0;
    }
  }
}
