<!-- <nb-layout>
  <nb-layout-column> Test </nb-layout-column>
  <nb-layout-column> Test </nb-layout-column>
</nb-layout> -->
<!--TODO: Auth Block hat limitierte größe-->
<!-- <div class="row grid-divider">
  <div class="col">
    <form>
      <div class="row">
        <div class="col">
          <input
            type="text"
            nbInput
            fullWidth
            fieldSize="giant"
            placeholder="Giant"
          />
        </div>
        <div class="col">
          <input
            type="text"
            nbInput
            fullWidth
            fieldSize="giant"
            placeholder="Giant"
          />
        </div>
        <div class="col">
          <input
            type="text"
            nbInput
            fullWidth
            fieldSize="giant"
            placeholder="Giant"
          />
        </div>
      </div>
    </form>

    <button nbButton fullwidth>Join</button>
  </div>
  <div class="col">
    <form>
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="A short name for the new course..."
          required
          name="name"
        />
      </mat-form-field>
    </form>
    <button nbButton fullwidth>Create</button>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">
      <nb-card>
          <nb-card-body>
              <div class="row">
                  <div class="col" style="text-align: center;">
                    <nb-icon icon="plus-outline"></nb-icon>
                    <p>Add Course</p>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                    
                </div>
            </div>
          </nb-card-body>
      </nb-card>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let course of courses">
    <nb-card>
      <nb-card-header>
        <h2>{{ course.name }}</h2>
      </nb-card-header>
      <nb-card-body> {{ course.description }}</nb-card-body>
    </nb-card>
  </div>
</div>

<!-- TODO: cdk ckipboard -->
<!-- TODO: cdk drag and drop -->
<!-- TODO: cdk stepper -->
<!-- TODO: cdk todos table -->
<!-- TODO: cdkAutosizeMinRows  -->
<!-- TODO: CDK tree -->
