<div class="row">
  <div class="col">
    <nb-card [nbSpinner]="loadingExams">
      <nb-card-header
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        {{ 'exams.header' | translate }} ({{ exams.length }})
      </nb-card-header>
      <nb-card-body>
        <mwl-calendar-month-view
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
        >
        </mwl-calendar-month-view>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header> Upcoming Deadlines </nb-card-header>
      <nb-list [nbSpinner]="loadingTodos">
        <nb-list-item *ngFor="let item of todos">
          <div class="row">
            <div class="col">
              <span *ngIf="!item.completed">{{ item.title }}</span>
              <del *ngIf="item.completed">{{ item.title }}</del>
            </div>
            <div>
              {{ getDeadlineDiffernce(item) }}
            </div>
          </div>
        </nb-list-item>
        <nb-list-item *ngIf="!todos?.length">
          No upcoming Deadlines
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
